.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

  .background-primary {
    background-color: rgba(255,255,255,255);
  }
  
  .background-secondary {
    background-color: rgba(252,234,233,255);
  }

  .btn-primary {
    background-color: rgba(255,51,131,255);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 25px 12px 25px;
  
  }

  .section {
    width: 100%;
    padding: auto;
    position: absolute;
    bottom: 0;
  }
    

  box {
    width: 95%;
    height: 300px;
    padding: 3% 20%;
    display:flex; 
    gap: 50px;
    margin: auto;
    border-radius: 5px;
  }
  
  .box-description {
    color: black;
    font-weight: 100;
  }
  
  .box-title {
    font-size: 40px;
    color: black;
    font-weight: bolder;
  }  

  .alignment {
    width: 50%;
    margin: auto;
  }
  
  box input[type="email"]{
    height: 40px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    margin-bottom: 24px;
    padding: 10px 20px;
    display: block;
    border: none;
  }

  .footer-text {
    font-weight: 100;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
  }