.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.times-new-roman {
  font-family: "Times New Roman", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

  .background-primary {
    background-color: rgba(244,244,244,255);
  }
  
  .background-secondary {
    background-color: white;
  }

  .button{
    background-color: black;
    border: none;
    border-radius: 0;
    color: white;
    padding: 12px 80px 12px 80px;
  
  }

  circularbox {
    width: 35%;
    height: 480px;
    padding: auto;
    display:flex; 
    gap: 50px;
    margin: auto;
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 75%;
  }
  
  .circularbox-description {
    color: black;
    font-weight: 500;
  }
  
  .narrow-description {
    padding: 10px 0px;
    margin: auto;
    width: 200px;
  }

  .circularbox-title {
    font-size: 40px;
    color: black;
    font-weight: bolder;
  }  

  .text-center{
    text-align: center;
  }

  .alignment {
    width: 50%;
    margin: 40% auto;
  }